{% extends 'base.html' %}
{% load static %}
{% load cart %}
{% block content %}
<div class="container">
<div class="row">
<div class="col-8 p-2">
	<div class="col-lg-12 mx-auto border rounded p-2">
		<table class="table table-hover table-striped">
		  <thead class="thead-dark">
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Product</th>
		      <th scope="col">Name</th>
		      <th scope="col">Brand</th>
		      <th scope="col">Price</th>
		      <th scope="col">Quantity</th>
		      <th scope="col">Total</th>
		    </tr>
		  </thead>
		  <tbody>
		  	{% for item in items %}
		    <tr>
		      <th scope="row">{{forloop.counter}}</th>
		      <td><img src="{% static item.image  %}" alt="" class="img-fluid" style="height: 100px;width: 70px;"></td>
		      <td>{{item.name}}</td>
		      <td>{{item.brand}}</td>
		      <td>₹ {{item.price}}</td>
		      <td>
		      	<form action="" method="post">
		      		{% csrf_token %}
		      		<input type="hidden" name="product_id" value="{{item.id}}">
			      	<button type="submit" style="background-color: Purple" name="edit" value="dec"> - </button> 
			      	<label>{{ item.id|quantity:request.session.cart }}</label> 
			      	<button type="submit" style="background-color: Purple" name="edit" value="inc"> + </button>
		      	</form>
		      </td>
		      <td>₹ {{ item.id|quantity:request.session.cart|total_cost:item.price }}</td>
		    </tr>
		    {% endfor %}
		   </tbody> 	
		</table>
	</div>
</div>

<div class="col-4 p-2">
	<div class="col-lg-10 mx-auto border rounded p-2">
		<table class="table table-hover table-striped">
		  <thead class="thead-dark">
		  	<tr>
		  	<th>Summary</th>
		  	<th></th>
		  	</tr>
		  </thead>
		  <tbody>
		    <tr>
		      <th scope="row">Total Price</th>
		      <td>₹ {{total_cart_value}}</td>
		  	</tr>
		  	<tr>
		      <th scope="row">Shipping Charges</th>
		      <td>₹ 40</td>
		    </tr>
		  	<tr>
		      <th scope="row" class="table-success">Amount Payable</th>
		      <td>₹ {{total_cart_value|sum:40}}</td>
		    </tr>
		   </tbody> 	
		</table>
	</div><br>
	<a href="/checkout" class="btn btn-primary mr-auto my-2 my-lg-0 mx-5">Checkout</a>
</div>
</div>
</div>
{% endblock %}