{% extends 'base.html' %}
{% load static %}
{% block content %}
<br><br>
<div class="container">
	<div class="p-2 m-2">
		<div class="col-lg-5 mx-auto border rounded p-4">
			<form action="" method="post" class="form-group">
			  {% csrf_token %}
			  <img src="{% static 'logo/logo.png' %}" alt="" ><h3><b>Register</b></h3><hr>
			  {% for item in msg %}
			  <p class="text-danger">{{item}}</p>		
			  {% endfor %}
			  <div class="form-group">
			    <label for="name">Name</label>
			    <input type="text" class="form-control" name="name" value="{{data.name}}">
			  </div>
			  <div class="form-group">
			    <label for="mobile">Mobile No.</label>
			    <input type="text" class="form-control" name="mobile" value="{{data.mobile}}">
			  </div>	
			  <div class="form-group">
			    <label for="email">Email address</label>
			    <input type="email" class="form-control" name="email" value="{{data.email}}" placeholder="example@gmail.com">
			  </div>
			  <div class="form-group">
			    <label for="password">Password</label>
			    <input type="password" class="form-control" name="password" value="{{data.password}}" placeholder="********">
			  </div>
			  <hr>
			  <button type="submit" class="btn hero-btn">Register</button>
			  <a href="/login" style="color: Blue" class="mr-auto my-2 my-lg-0 mx-5">Log In</a>
			</form>
		</div>
	</div>
</div>

{% endblock %}